<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    
    <pipelines>
      <httpRequestBegin>
        <!-- Display a splash page or detect the laguage from browser preferences if no language cookie is set and the language is not set in the URL -->
        <processor patch:before="*[@type='Sitecore.Pipelines.HttpRequest.LayoutResolver, Sitecore.Kernel']" type="SplashPageResolver, ccfa">
          <SetLangFromBrowserPreferences>false</SetLangFromBrowserPreferences>
          <AlwaysShowForBaseUrl>true</AlwaysShowForBaseUrl>
          <SetCulture>true</SetCulture>
          <SplashPageGuid>{24C31580-3D78-44FE-B719-37DE951FBA3B}</SplashPageGuid>
        </processor>
      </httpRequestBegin>  
    </pipelines>
    
  </sitecore>
</configuration>